name: Build FEX (external)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout FEX
        uses: actions/checkout@v4
        with:
          repository: FEX-Emu/FEX
          ref: main
          path: FEX

      - name: Init submodules
        run: |
          cd FEX
          git submodule update --init --recursive --depth 1

      - name: Install deps
        run: |
          sudo apt update
          sudo apt install -y cmake ninja-build clang lld

      - name: Build FEX
        run: |
          cd FEX
          mkdir build
          cd build
          cmake .. -GNinja -DCMAKE_BUILD_TYPE=Release
          ninja
