name: Wine DLL artifacts (external)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone source repo
        run: |
          git clone https://github.com/REPO_ORIGINAL/wine.git wine
          cd wine
          git checkout main

      - name: Install deps
        run: |
          sudo apt update
          sudo apt install -y ninja clang lld mingw-w64

      - name: Build wow64
        run: |
          cd wine
          ./build-wow64.sh

      - name: Build arm64ec
        run: |
          cd wine
          ./build-arm64ec.sh

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wine_dll_artifacts
          path: wine/install/usr/lib/wine/**/*.dll
